@charset "utf-8";
/* CSS Document */
body{
	width:1000px;
	margin:auto;
	font-size:12px;
}
a{
	color:#7F7FB2;
	text-decoration:none;
}
a:hover{
	color:#00B6EF;
	text-decoration:underline;
}
h3{
	font-size:16px;
	border-bottom:1px solid #ccc;
	/*padding:0px;*/
	margin:0px;
	margin-bottom:20px;
}
h3 a{
	font-size:12px;
	font-weight:lighter;
}
span{
	/*font-size:12px;*/
}
img{
	border:0
}

.header {
	height:86px;
	background:url(/images/header.jpg)
}

.banner{
	border-bottom:1px solid #ccc;
	width:100%;
	/*background:#CCC;*/
}
.banner table{
	width:100%;
}
.banner table td{
	padding:10px;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.left{
	float:left;
	width:175px;
	margin-top:10px;
	font-size:14px;
}
.left ul li{
	line-height:30px;
}


.main{
	/*border:1px solid #ccc;*/ 
	width:790px; 
	*width:800px;
	/**height:383px;*/
	margin-left:185px;
	*margin-left:175px;
	padding-left:10px;
	margin-top:10px;
}

.main_table{
	width:100%;
	border:1px solid #CCC;
	border-radius: 5px 5px 5px 5px;
	text-align:center;
	line-height:20px;
}
.main_table thead{
	/*background: url(../images/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x scroll 50% 50% transparent; */
	/*color:#016A9D;*/
	background: url(../images/ui-bg_glass_40_111111_1x400.png) repeat-x scroll 50% 50% transparent; 
	color:#FFF;
}
.main_table thead a{
	color:#FFF;
}
.main_table thead a:hover{
	color:#FFF;
}
.main_table td{
	border: 1px solid rgb(237, 237, 237);
}

.main_op{
	border-top:1px solid #CCC; 
	margin-top:20px; 
	text-align:right; 
	padding-top:10px;
}

#default{
	text-align:center;
}

.page{
	text-align:center;
	margin-top:10px;
}

.pop_div{
	/*font-size:12px;*/
	position:absolute;
}
.pop_div table{
	width:100%;
}
.pop_table{
	border:1px solid #CCC;
	border-radius: 5px 5px 5px 5px;
	text-align:center
}
.pop_table th{
	background: url(../images/ui-bg_glass_40_111111_1x400.png) repeat-x scroll 50% 50% transparent; 
	color:#FFF;
}
.pop_table th a{
	color:#FFF;
}
.pop_table th a:hover{
	color:#FFF;
}
.pop_table td{
	border: 1px solid rgb(237, 237, 237);
}

.tabs{
	height:30px;
}


.footer {
    width: 100%;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	/*border-top:1px solid #ccc;*/
	border-radius:5px;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	background: url(../images/ui-bg_glass_40_111111_1x400.png) repeat-x scroll 50% 50% transparent;
}

